article {
    --sx: 20px;
    --md: 36px;
    padding: 24px var(--md);

    position: fixed;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
    overflow: auto;
    background: rgba(255, 255, 255, 0.75);
    z-index: 100;
}

article img {
    width: 100%;
    height: auto;

    margin-bottom: var(--sx);
}

article h1 {
    font-family: "Aeroport Mono", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;

    font-size: 48px;
    line-height: 56px;

    margin: var(--sx) 0px;
}

article h2 {
    font-family: "Aeroport Mono", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;

    font-size: 1.5em;
}

@media screen and (max-width: 800px) {
    article {
        --sx: 10px;
        --md: 20px;
    }

    article h1 {
        font-size: 36px;
        line-height: 42px;
    }
}

/* mobile  */
@media screen and (max-width: 500px) {
    article {
        left: 0;
        right: 0;
        width: auto;
    }
}

