article {
    --sx: 20px;
    --md: 36px;
    position: relative;
    padding: 24px var(--md);
}

article img {
    width: 100%;
    height: auto;

    margin-bottom: var(--sx);
}

article h1 {
    /* font-family: "Aeroport Mono", Arial, Helvetica, sans-serif; */
    /* font-style: normal; */
    /* font-weight: 400; */
    font-size: 48px;
    line-height: 56px;

    margin: var(--sx) 0px;
}

