.wide {
    position: relative;
    width: 100%;
    aspect-ratio: 16/10;
}

.wide-content {
    position: absolute;
    left: 0;
    right: 0;
}

.wide-fullscreen {
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
    height: 100%;
}