.hero {
    --padding: 32px;
    --caption-min-width: 450px;

    position: relative;

    display: grid;
    grid-template-columns: 5fr 1fr 6fr;
    column-gap: var(--padding);

    margin-top: 32px;
}

.hero .values {
    display: flex;
    flex-direction: column;

    gap: var(--md);
}

.hero .caption {
    text-align: left;
    hyphens: auto;
    /* manual: use &shy; for breaks */

    max-width: 550px;
}

.hero .number {
    font-family: "Aeroport Mono", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.hero .number .value {
    font-size: 96px;
}

@media screen and (max-width: 800px) {
    .hero {
        grid-template-columns: 1fr;
    }

    .hero .number .value {
        font-size: 40px;
    }

}