.hero {
    --padding: 32px;
    --caption-min-width: 450px;

    position: relative;

    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: var(--padding);

    margin-top: 32px;
}

.hero .values {
    display: flex;
    flex-direction: column;

    gap: var(--md);
}

.hero .caption {
    text-align: left;
}

.hero .number {
    font-family: "Aeroport Mono", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.hero .number .value {
    font-size: 48px;
    line-height: 56px;
}

@media screen and (max-width: 800px) {
    .hero {
        grid-template-columns: 1fr;
    }

    .hero .values {
        flex-direction: row;
    }
}
