.ladder-gallery {
    display: flex;
    flex-direction: row-reverse;
    margin-left: -60px;
    width: auto;
}

.ladder-gallery-col {
    padding-left: 60px;
    background-clip: padding-box;
}

.ladder-gallery-col:nth-child(2) {
    padding-top: 12.5%;
}