.projectsGrid {
    --sizeBig: 22px;
    --sizeRgular: 18px;
}

.projectsGrid-filter {
    display: flex;
    gap: 2rem;
    row-gap: 0;
    color: #818181;
    margin-bottom: 30px;
    flex-wrap: wrap;
    font-size: var(--sizeBig);
}

.projectsGrid-cell {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #818181;
    text-decoration: none;
    font-size: var(--sizeBig);
}

.projectsGrid-cell:hover {
    color: black;
}

.projectsGrid-cell>img {
    margin-bottom: 20px;
    aspect-ratio: 360 / 260;
    object-fit: cover;
}

.projectsGrid-cell>h3 {
    font-size: var(--sizeBig);
    margin-bottom: 0;
}

.projectsGrid-cell>span {
    font-size: var(--sizeRgular);
}

@media screen and (max-width: 800px) {
    .projectsGrid-cell {
        font-size: 11px;
    }
}