.grid {
    --gap: 40px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: var(--gap);
    row-gap: var(--gap);

    margin-bottom: 50px;
}

@media screen and (max-width: 800px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr !important;
    }
}